body {
  font-family: "Roboto", sans-serif;
}

.body {
  overflow-y: hidden;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.teodolit-img {
  padding-left: 915px;
  position: absolute;
  top: 100px;
  pointer-events: none;
}

/* .login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.authWindow {
  position: absolute;
  margin-left: 100px;
  margin-top: 42px;
  width: 500px;
  /* height: 248px; */
  box-shadow: -1px 9px 30px rgba(0, 0, 0, 0.26), 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.auth {
  padding: 24px;
}

.center-btn {
  margin: 0 auto;
  display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* TeachersPage */

.list-sort {
  font-family: "Roboto", sans-serif;
}

.ant-btn-primary {
  background: black;
}

.ant-btn-primary:hover {
  background: rgb(86, 86, 86) !important;
}

.button-add-users:focus,
.button-add-users:active {
  outline: none;
}

.deleteModal .ant-modal-content {
  width: 320px;
  margin: auto;
}

.ant-btn-dangerous:hover {
  background: rgb(235, 23, 23) !important;
}

.ant-dropdown-trigger .ant-dropdown-open {
  height: 36px;
}

.search-input {
  border-color: rgb(149, 149, 149) !important; /* Default border color */
}

.search-input :hover {
  border-color: #b3b3b3 !important; /* Hover border color */
}

.search-input :focus {
  border-color: #b3b3b3 !important;
}

.ant-input:focus {
  border-color: #b3b3b3 !important;
}

.button-sort {
  margin-top: -4px;
}

/* SideNav.js */
.sideNav ul {
  list-style: none;
  padding: 24px;
  margin: 0;
}

.sideNav a {
  text-decoration: none;
  line-height: 32px;
  color: #6b6b6b;
  font-size: 18px;
}

.sideNav a:active,
a :focus {
  color: #74b83f;
}

.tree a:active {
  background-color: #f7f7f7;
}

.topicsContainer {
  display: flex;
  background-color: #ebedee;
  height: 1000px;
}

.siderTopic {
  width: 256px;
  height: 90vh;
  background-color: white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 34px;
  margin-left: 34px;
  border-right: 1px solid #f0f0f0;
  flex-direction: column;
}

li {
  list-style-type: none;
}

.contentWindow {
  overflow: scroll;
  background-color: white;
  width: 78%;
  height: 90vh;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-top: 34px;
}

.topicsName {
  display: flex;
  gap: 6px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* .topicsName:hover,
.topicsName:focus,
.topicsName:active,
.topicsName.selected {
  color: #ff6800 !important;
} */

.selected {
  color: #ff6800;
}

.bookIcon {
  font-size: 20px;
}

.cdx-input.image-tool__caption {
  border: none;
  text-align: center;
  box-shadow: none !important;
  font-weight: 700;
  font-style: italic;
}
