body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.mainContainer {
  width: 100%;
}

.teodolit-img {
  padding-left: 915px;
  padding-top: 60px;
  position: absolute;
}


.authWindow {
  position: absolute;
  margin-left: 100px;
  margin-top: 352px;
  width: 500px;
  height: 248px;
  box-shadow: -1px 9px 30px rgba(0, 0, 0, 0.26), 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.auth {
  padding: 24px;
}